/* paleta 1
https://www.colourlovers.com/palette/4922854/Not_fake
 */

$color-celeste: #67E6D5;
$color-amarillo: #E6B749;
$color-rosa: #E66785;
$color-violeta: #7716CC;
$color-negro: #2c044a;
$color-blanco: #f5f4f5;
$color-violeta1: #b06bf1;
$color-negrovio: #3c0f5e;

$color-rosa1: #FBEEE6;
$color-rosa2: #FFE5D8;
$color-rosa3: #FFCAD4;
$color-rosa4: #F3ABB6;
$color-rosa5: #9f8189;

$color-gris: #ae8eac;
$color-gris1: #3a2d39;