@import "/src/styles/colores.scss";

.drop-area {
    display: flex;
    flex-direction: column;
    border: 4px dashed $color-gris;
    border-radius: 20px;
    width: 300px;
    margin: 1px;
    padding: 20px;
    vertical-align: middle;

    & p {
        margin: 30px;
    }

    &-button {
        display: inline-block;
        align-self: center;
        padding: 10px;
        background-color: $color-gris;
        cursor: pointer;
        border-radius: 5px;
        border: 1px solid $color-gris;
        margin-bottom: 30px;

    }

    & #lbl-foto {
        display: none;
    }

    &-image img {
        width: 100px;
        margin-top: 10px;
        margin-right: 10px;
        vertical-align: top;
    }
}