@import "../styles/colores.scss";

table.tabla-alta {
    border-collapse: collapse;
    width: 95%;
    margin: 1rem auto;

    th,
    td {
        border: 2px solid $color-gris;
        padding: 8px;
        text-align: left;
        color: $color-negrovio;
    }

    th {
        background-color: $color-blanco;
    }
}